<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<script>

		window.addEventListener("load", function() {
		    const app = new Vue({
				el: "#app",
                data: {
                    numberA: "",
                    numberB: "",
                    result: "",
                },

				methods: {
                    add: function () {
                        this.result = "Сумма чисел равна: " + Math.round((this.numberA*1)  + (this.numberB*1));
                    },

                    multiplicate: function () {
                        this.result = "Произведение чисел равно: " + (this.numberA * this.numberB);
                    },

                    diminute: function () {
                        this.result = "Разность чисел равна: " + (this.numberA - this.numberB);
                    },

                    divide: function () {
                        this.result = "Частное чисел равно: " + (this.numberA / this.numberB);
                    }
				}
			});
		});
		window.onload = function () {
			var numberA = document.getElementById("numberA");
			var numberB = document.getElementById("numberB");
			var btnCalculate = document.getElementById("addition");
			var btnMultiplicate = document.getElementById("multiplication");
			var btnDiminute = document.getElementById("diminution");
			var btnDivision = document.getElementById("division");
			var result = document.getElementById("result");

			btnCalculate.onclick = function () {
				if (numberA && numberB != "") {
					result.innerHTML = "Сумма чисел равна: " + Math.round((numberA.value*1)  + (numberB.value*1));
				} else {

				}
			};

			btnMultiplicate.onclick = function () {
				if (numberA && numberB != "") {
					result.innerHTML = "Произведение чисел равно: " + (numberA.value * numberB.value);
				} else {

				}
			};

			btnDiminute.onclick = function () {
				if (numberA && numberB != "") {
					result.innerHTML = "Разность чисел равна: " + (numberA.value - numberB.value);
				} else {

				}
			};

			btnDivision.onclick = function () {
				if (numberA && numberB != "") {
					result.innerHTML = "Частное чисел равно: " + (numberA.value / numberB.value);
				} else {

				}
			};
		};
	</script>
</head>
<body>
<div id="app">
	<input v-model="numberA" type ="text" placeholder="Число А">
	<input v-model="numberB" type ="text" placeholder="Число B">
	<button v-if="numberA && numberB != ''" @click="add()">+</button>
	<button v-if="numberA && numberB != ''" @click="multiplicate()">*</button>
	<button v-if="numberA && numberB != ''" @click="diminute()">-</button>
	<button v-if="numberA && numberB != ''" @click="divide()">/</button>
	<p>{{ result }}</p>
</div>
</body>
</html>