<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<script>

		window.addEventListener("load", function() {
		    const app = new Vue({
				el: "#app",
                data: {
                    numberA: "",
                    numberB: "",
                    result: "",
                },

				methods: {
                    add: function () {
                        this.result = "Сумма чисел равна: " + Math.round((this.numberA*1)  + (this.numberB*1));
                    },

                    multiplicate: function () {
                        this.result = "Произведение чисел равно: " + (this.numberA * this.numberB);
                    },

                    diminute: function () {
                        this.result = "Разность чисел равна: " + (this.numberA - this.numberB);
                    },

                    divide: function () {
                        this.result = "Частное чисел равно: " + (this.numberA / this.numberB);
                    }
				}
			});
		});
	</script>
</head>
<body>
<div id="app">
	<input v-model="numberA" type ="text" placeholder="Число А">
	<input v-model="numberB" type ="text" placeholder="Число B">
	<button v-if="numberA && numberB != ''" @click="add()">+</button>
	<button v-if="numberA && numberB != ''" @click="multiplicate()">*</button>
	<button v-if="numberA && numberB != ''" @click="diminute()">-</button>
	<button v-if="numberA && numberB != ''" @click="divide()">/</button>
	<p>{{ result }}</p>
</div>
</body>
</html>